<fieldset markdown="1" style="--accent-hue: {{ include.hue }};">
<legend markdown="1">`--accent-hue: {{ include.hue }}`</legend>
# Heading 1
## Heading 2
### Heading 3
#### Heading 4
##### Heading 5
###### Heading 6

- [Hyperlink]()
- <mark>Marked text</mark>
- <input type="checkbox" name="checkbox-{{ include.hue | round }}" id="checkbox-{{ include.hue | round }}" checked><label for="checkbox-{{ include.hue | round }}">Checkbox</label>
- <input type="radio" name="radio-{{ include.hue | round }}" id="radio-{{ include.hue | round }}" checked><label for="radio-{{ include.hue | round }}">Radio</label>
- Scrollbar
  <div style="font-size: small; overflow-x: scroll; width: 250px; text-wrap: nowrap; user-select: none;">Scroll this section                                                               </div>
</fieldset>
