<footer id="footer">
  <div>
    <p>
      <a href="https://www.reddit.com/r/a:t5_2mg41u/comments/gawa01/internet_explorer_google_chrome_official_art/">Profile picture</a> by <a href="https://linktr.ee/merryweathercomics">MerryweatherComics</a>
    </p>
    <p>
      © 2021 Hari Rana / TheEvilSkeleton and <a href="https://gitlab.com/TheEvilSkeleton/theevilskeleton.gitlab.io/-/graphs/main">contributors</a>
    </p>
    <p>
      <span class="horizontal-flip" aria-label="Copyleft">©</span> Website <a href="https://gitlab.com/TheEvilSkeleton/theevilskeleton.gitlab.io">code</a> under <span class="no-wrap"><a href="https://www.gnu.org/licenses/agpl-3.0.en.html">AGPL-3.0-only</a></span> · Website content under <span class="no-wrap"><a href="https://creativecommons.org/licenses/by-sa/4.0">CC-BY-SA-4.0</a></span>
    </p>
    <p>
      Website powered by <a href="https://jekyllrb.com">Jekyll</a> · Hosted on <a href="https://about.gitlab.com/stages-devops-lifecycle/pages">GitLab Pages</a>
    </p>
  </div>
</footer>
