<!DOCTYPE html>
<html lang="en" {% if page.accent_hue %} style="--accent-hue: {{ page.accent_hue }};" {% endif %}>
  {%- include head.html -%}
  <body>
    {%- include header.html -%}
    {{ content }}
    {%- include footer.html -%}
  </body>
</html>
