---
layout: general
---

{% include content.html content=content %}

{% if site.paginate %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{%- if posts.size > 0 -%}

  {%- if page.list_title -%}
    <h2>{{ page.list_title }}</h2>
  {%- endif -%}

  {%- for post in posts -%}
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

    {% if post.hide != true %}
      {% assign classes = "card post" %}
      {% if post.additional_classes != nil %}
        {% assign classes = classes | append: " " | append: post.additional_classes %}
      {% endif %}

      <section class="{{ classes }}" aria-label="{{ post.title | escape }}">
        <article>
          <header>
            <h2><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
            <p><time datetime="{{ post.date }}">{{ post.date | date: date_format }}</time></p>
          </header>
          {{ post.description | markdownify }}
        </article>
      </section>
    {% endif %}

  {%- endfor -%}
{% endif %}
