/*
 * _base.scss: Base style
 * Copyright (C) 2021 Hari Rana / TheEvilSkeleton and contributors
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <https://www.gnu.org/licenses/>
 */


@use "shared";


/*
 * LAYOUT
 */

* {
  --_chroma: 0.15;

  margin-block: 0;
  accent-color:
    oklch(var(--header-select-lightness) var(--_chroma) var(--accent-hue));
  scrollbar-color:
    oklch(var(--scrollbar-foreground-lightness) var(--_chroma) var(--accent-hue))
    oklch(var(--scrollbar-background-lightness) 0 0);
}

html {
  background-color: oklch(var(--html-background-lightness) 0 0);
  scroll-behavior: smooth;
  scroll-padding-block-start: var(--heading-margin-block-start);
}

body {
  margin: var(--body-margin);
  min-height: calc(100dvh - var(--body-margin) * 2);
  color: oklch(var(--body-foreground-lightness) 0 0);
  background-color: oklch(var(--body-background-lightness) 0 0);
  font-family: system-ui, sans-serif;
  overflow-wrap: break-word;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: var(--font-size);

  grid-template-columns:
    [full-width-start] 1fr [breakout-large-start] var(--breakout-large-width) [breakout-small-start] var(--breakout-small-width) [breakout-tiny-start] var(--breakout-tiny-width) [content-start] var(--content-width) [content-end] var(--breakout-tiny-width) [breakout-tiny-end] var(--breakout-small-width) [breakout-small-end] var(--breakout-large-width) [breakout-large-end] 1fr [full-width-end];

  & > * {
    grid-column: full-width;
    grid-auto-rows: min-content;
  }

  /* Header */
  & > header {
    --_padding-block: 12px;
    --_button-padding: 12px;
    --_border-width: 3px;
    --_chroma: 0.15;
    --_high-contrast-border-color: oklch(var(--high-contrast-border-lightness) var(--_chroma) var(--accent-hue));

    overflow: auto;
    background-color: oklch(var(--header-background-lightness) 0 0);
    box-shadow: var(--box-shadow-box);
    padding-block: var(--_padding-block);
    font-weight: 600;
    border-radius: var(--element-border-radius);
    outline: solid 1px oklch(var(--high-contrast-border-lightness) var(--_chroma) var(--accent-hue));

    a {
      --_baseline-transition-properties: background-color, border, color, transform;

      border-radius: 6px;
      padding: calc(var(--_button-padding) - var(--_border-width));
      border: solid var(--_border-width) transparent;
      text-decoration: none;
      color:
        oklch(var(--high-contrast-border-lightness, var(--header-select-lightness)) var(--_chroma) var(--accent-hue));
      transition-duration: 0.25s;
      transition-property: var(--_baseline-transition-properties);
      letter-spacing: var(--large-text-letter-spacing);

      &:hover {
        background-color:
          var(--high-contrast-header-select-color,
          oklch(var(--header-select-lightness) var(--_chroma) var(--accent-hue)));
        color:
          var(--_high-contrast-border-color,
          oklch(var(--header-background-lightness) 0 0));
        outline: dotted 2px var(--_high-contrast-border-color);
      }

      &:focus {
        outline: solid 4px oklch(var(--scrollbar-foreground-lightness) var(--_chroma) var(--accent-hue));
        transition-property: var(--_baseline-transition-properties), outline-width, outline-offset;
        outline-offset: 2px;
      }
    }

    .header-left, .skip-navigation {
      font-size: var(--font-size-larger);
      font-weight: 900;
      background-color: oklch(var(--header-background-lightness) 0 0);
    }

    .skip-navigation {
      position: absolute;
      transform: translateY(-200%);
      margin-inline-start: 12px;

      &:focus {
        transform: translateY(0);
      }
    }

    nav {
      .header-left {
        display: none;
      }

      .header-main {
        display: flex;
        justify-content: space-evenly;
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
        margin-inline: auto;
        width: max-content;
        gap: calc(var(--font-size-larger) - var(--font-size) + var(--_padding-block) / 1.25);

        a {
          --_chroma: 0.15;

          text-align: center;

          &[aria-current="page"] {
            --_high-contrast-border-color: oklch(var(--high-contrast-border-lightness) var(--_chroma) var(--accent-hue));

            background-color:
              var(--high-contrast-header-select-color,
              oklch(var(--header-select-lightness) var(--_chroma) var(--accent-hue)));
            color:
              var(--_high-contrast-border-color,
              oklch(var(--header-background-lightness) 0 0));
            border-color:
              var(--_high-contrast-border-color,
              oklch(var(--header-select-lightness) var(--_chroma) var(--accent-hue)));
          }
        }
      }
    }
  }

  /* Main content */
  & > main {
    margin-block: 3rem;

    &, & > article {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: full-width;
      line-height: var(--main-line-height);
      letter-spacing: 0.25px;

      :where(& > *) {
        grid-column: content;
      }
    }

    & > article > {
      h2, h3, h4, h5, h6 {
        margin-inline: calc(var(--main-margin-inline) / 4);
        grid-column: breakout-small;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr minmax(0, var(--content-width)) 1fr;
        gap: 6px;

        &::before {
          margin-inline-start: auto;
          opacity: var(--opacity, 0.7);
        }
      }

      header {
        margin-block: var(--title-font-size);
        line-height: 1.225;
        grid-column: breakout-tiny;

        & > p {
          text-align: center;
          opacity: var(--opacity, 0.75);
          font-size: var(--font-size-smaller);
          font-weight: bold;
        }
      }
    }
  }

  /* Footer */
  & > footer {
    --_margin-size: 1rem;
    --_high-contrast-border-color: oklch(var(--high-contrast-border-lightness) 0.15 var(--accent-hue));

    overflow: hidden;
    background-color: oklch(var(--header-background-lightness) 0 0);
    text-align: center;
    font-size: var(--font-size-smaller);
    display: grid;
    grid-template-columns: subgrid;
    box-shadow: var(--box-shadow-box);
    border-radius: var(--element-border-radius);
    outline: solid 1px var(--_high-contrast-border-color);

    div {
      grid-column: content;
      padding-inline: var(--_margin-size);
    }

    p {
      opacity: var(--opacity, 0.95);
      margin-block: var(--_margin-size);
    }
  }

  & > :is(main, footer) {
    a {
      --_outline-offset: 0.15em;
      --_chroma: 0.15;
      --_high-contrast-border-color: oklch(var(--high-contrast-lightness) var(--_chroma) var(--accent-hue));

      color:
        var(--_high-contrast-border-color,
        oklch(var(--hyperlink-lightness) var(--_chroma) var(--accent-hue)));
      transition: color 0.25s;
      outline-offset: var(--_outline-offset);

      &:hover {
        color:
          var(--_high-contrast-border-color,
          oklch(var(--hyperlink-hover-lightness) 0.2 var(--accent-hue)));
        outline: var(--_outline-offset) dotted var(--_high-contrast-border-color);
      }

      &:focus {
        color:
          var(--_high-contrast-border-color,
          oklch(var(--hyperlink-focus-lightness) 0.19 var(--accent-hue)));
        outline: var(--_outline-offset) solid var(--_high-contrast-border-color);
      }

      &:focus-visible {
        outline: var(--_outline-offset) solid var(--_high-contrast-border-color, oklch(var(--hyperlink-lightness) var(--_chroma) var(--accent-hue)));
        color: oklch(var(--hyperlink-lightness) var(--_chroma) var(--accent-hue));
      }
    }
  }
}

textarea, input[type="text"] {
  box-sizing: border-box;
  border-radius: 12px;
  border: 2px solid oklch(var(--blockquote-border-start-lightness) 0 0);
  padding: 6px;
  font-family: inherit;
  background-color: oklch(var(--header-background-lightness) 0 0);
}

textarea {
  width: 100%;
}

.section-anchor {
  user-select: none;
  padding: 0.25em;
  font-weight: 400;
  text-decoration: none;
}

.footnote {
  padding: 0.25em;
}

mark {
  --_chroma: 0.15;
  --_high-contrast-border-color: oklch(var(--high-contrast-lightness) var(--_chroma) var(--accent-hue));

  background-color:
    var(--high-contrast-header-select-color,
    oklch(var(--hyperlink-lightness) var(--_chroma) var(--accent-hue)));
  color:
    var(--_high-contrast-border-color,
    oklch(var(--header-background-lightness) 0 0));
  outline: solid 1px var(--_high-contrast-border-color);
  outline-offset: 3px;
}


input:is([type="radio"], [type="checkbox"]) {
  padding-inline-start: 1.5rem;
  margin-inline: 0 0.5em;
}


/*
 * PAGES
 */

/*
 * Article page
 *
 * Based on:
 * - https://philarcher.org/diary/2013/headingnumbers
 * - https://stackoverflow.com/a/16270270
 * - https://css-tricks.com/css-counters-custom-list-number-styling
 */
article#main {
  /* Heading */
  counter-reset: h2;
  & > h2 {counter-reset: h3}
  & > h3 {counter-reset: h4}
  & > h4 {counter-reset: h5}
  & > h5 {counter-reset: h6}

  & > h2:before {counter-increment: h2; content: counter(h2) ". "}
  & > h3:before {counter-increment: h3; content: counter(h2) "." counter(h3) ". "}
  & > h4:before {counter-increment: h4; content: counter(h2) "." counter(h3) "." counter(h4) ". "}
  & > h5:before {counter-increment: h5; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "}
  & > h6:before {counter-increment: h6; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". "}

  /* Append arrow icon in links */
  a[href^="http://"],
  a[href^="https://"] {
    &:not(figure > a)::after {
      /*
       * CSS code for "↗"
       * Used for external links
       */
      content: "#{shared.$nbsp}\2197" / "";
    }
  }

  a[href^="https://tesk.page"],
  a[href^="http://tesk.page"],
  a[href^="/"] {
    &:not(figure > a):not(header *)::after {
      /*
       * CSS code for "→"
       * Used for internal links
       */
      content: "#{shared.$nbsp}\2192" / "";
    }
  }

  /* Table of Contents */
  section.toc {
    --_padding: 0.75rem;
    --box-background-color: oklch(var(--header-background-lightness) 0 0);

    margin-block: 1.25rem;
    grid-column: breakout-small;

    details {
      width: calc(var(--content-width) + (var(--_padding) * 2));

      & > summary {
        cursor: pointer;
        user-select: none;
        padding:
          calc(var(--_padding) - var(--_border-px))
          clamp((var(--main-margin-inline) - var(--_border-px)) / 2 - var(--_margin-inline), (100% - var(--max-width) - var(--_border-px)) / 2, var(--_padding) + 0.25rem);
      }

      /* Based on https://codepen.io/ZoranJambor/pen/jOorzPv?layout=left */
      &::details-content {
        display: block;
        block-size: 0;
        overflow: hidden;
        transition-property: block-size, content-visibility;
        transition-duration: var(--animation-speed, 325ms);
        transition-behavior: allow-discrete;
        transition-timing-function: cubic-bezier(0.31, 0.37, 0.24, 1.01);
      }

      &[open]::details-content {
        block-size: auto;
        block-size: calc-size(auto, size);
      }
    }

    ol {
      --_offset-inline-start: 2.5em;

      counter-reset: index;

      &.section-nav {
        padding-inline-start: var(--_offset-inline-start);
        margin-block-end: calc(var(--_offset-inline-start) / 1.25);
        margin-inline: calc(var(--_offset-inline-start) / 2);
      }

      li {
        counter-increment: index;

        &::marker {
          content: counters(index, ".", decimal) ". ";
        }
      }
    }
  }
}

/*
 * CARDS
 */

.card {
  @include shared.box();
  width: var(--content-width);

  &.archived {
    --accent-hue: var(--archived-hue);
  }

  &.trigger {
    --accent-hue: var(--trigger-hue);
  }

  &.disclaimer {
    --accent-hue: var(--disclaimer-hue);
  }

  &.post {
    --box-padding-size: 1.75rem;
    --box-background-color: oklch(var(--header-background-lightness) 0 0);

    grid-column: breakout-small;
    font-size: var(--font-size-smaller);
    margin-block: 1rem;

    header {
      margin-block-end: 1rem;

      & > h2 {
        font-size: var(--font-size-larger);

        a {
          display: inline-block;
        }
      }

      & > p {
        margin-block: 0;
        opacity: var(--opacity, 0.75);
        font-size: var(--font-size-smaller);
        font-weight: bold;
      }
    }

    &:first-of-type {
      --box-background-color:
        oklch(var(--accent-background-lightness) 0.0125 var(--accent-hue));
    }

    &.🏳️‍⚧️ {
      --box-background-color: var(--trans-gradient);
    }
  }
}

.statements {
  --box-padding-size: 1.25rem;

  grid-column: breakout-small;
  display: grid;
  row-gap: 0.5rem;
  margin-block: 1.25rem;

  & > section {
    --box-background-color: oklch(var(--accent-background-lightness) 0.0125 var(--accent-hue));
    --custom-chroma: 0.1125;
    --custom-hue: var(--accent-hue);
  }
}



@keyframes details-show {
  0% {
    opacity: 0;
    transform: translateY(-0.5em);
  }
}

/* 404 page */
.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-column: content;

  img {
    image-rendering: pixelated;
    width: 100%;
  }
}

/* Marketing page */
.marketing-page {
  header > * {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  div.metadata {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-block: 2em;

    & > * {
    	  margin-block: 0.25em;
    }
  }

  h1 {
    display: flex;
    gap: 6px;
    margin-block-end: 0;
    padding-block-end: 0;

    img {
      max-height: 64px;
      max-width: 64px;
      filter: var(--box-drop-shadow);
    }
  }

  & > {
    header, header + figure {
      animation: popup var(--animation-speed, 0.25s) linear forwards;
    }
  }

  & > h2:has(+ .presentation) {
      text-align: center;
  }
}


/*
 * GENERAL STYLES
 */

::selection {
  color: var(--high-contrast-foreground-color);
  background:
    oklch(var(--text-select-background-lightness) 0.1 var(--accent-hue) / 35%);
}

:target:not(:is(#main, #footer)) {
  --_high-contrast-border-color: oklch(var(--high-contrast-border-lightness) 0.15 var(--accent-hue));

  transition: outline-width 800ms 500ms;
  border-radius: 12px;
  outline:
    6px solid var(--_high-contrast-border-color, oklch(var(--target-background-lightness) 0 0));
  outline-offset: 6px;
}

#main > :is(h2, h3, h4, h5, h6) {
  line-height: 1.175;
  margin-block: var(--heading-margin-block-start) var(--heading-margin-block-end);
}

strong, h1, h2, h3, h4, h5, h6 {
  color: oklch(var(--heading-foreground-lightness) var(--custom-chroma, 0) var(--custom-hue, 0));
  letter-spacing: var(--large-text-letter-spacing);
}

p, li {
  margin-block: 0.5em;
}

blockquote {
  border-inline-start:
    6px solid
    var(--high-contrast-foreground-color, oklch(var(--blockquote-border-start-lightness) 0 0));
  border-radius: 6px;
  padding-inline-start: 0.75rem;
  margin: 0.5em 0;

  :first-child {
    margin-block-start: 0;
  }

  :last-child {
    margin-block-end: 0;
  }
}

hr {
  border-radius: 6px;
  border: 1px solid oklch(var(--separator-lightness) 0 0);
  width: 75%;
  margin-block: 1rem;
}

h1 {
  --_margin-end: 0.25em;

  text-align: center;
  text-wrap: balance;
  margin-block-end: calc(1.5rem - var(--_margin-end));
  font-size: var(--title-font-size);
  letter-spacing: -0.025em;
  line-height: 1.05em;
  background-color: oklch(55% var(--title-background-chroma) var(--accent-hue));
  background-image: radial-gradient(circle,
                              oklch(var(--body-foreground-lightness) 0.1 var(--accent-hue)),
                              oklch(var(--header-select-lightness) 0.175 var(--accent-hue)));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: text;
  color: var(--high-contrast-foreground-color, transparent);

  /* Hack to style the entire height of the title */
  padding-block-end: var(--_margin-end);
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.325em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.09em;
}

p, li, h2, h3, h4, h5, h6 {
  text-wrap: pretty;
}

:not(li) > :is(ul, ol) {
  padding-inline-start: 1.5rem;
}

.key-value-list {
  margin-block: 0.5em;

  ul {
    list-style-type: none;

    & > li {
      margin-block: 0;
    }

    :not(li) > & {
      padding-inline-start: 0;
    }

    span {
      opacity: var(--opacity, 0.75);
    }
  }
}

.tag-list {
  list-style-type: none;
  font-size: var(--font-size-smaller);
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em 0.375em;
  margin-block: 0.25em 1em;

    & > li {
      background-color: oklch(var(--accent-background-lightness) 0 0);
      margin-block: 0;
    }

    :not(li) > & {
      padding-inline-start: 0;
    }

  & > li {
    border-radius: 99px;
    padding: 0.25em 1em;
  }
}

code {
  --_code-background-color: oklch(var(--code-background-lightness) 0 0);
  --_high-contrast-border-color: oklch(var(--high-contrast-border-lightness) 0.15 var(--accent-hue));

  font-family: monospace;
  font-size: var(--font-size-smaller);

  &.highlighter-rouge {
    --_border-px: 1px;
    --_padding-block: 0.1rem;

    border: solid var(--_border-px)
      var(--_high-contrast-border-color, var(--_code-background-color));
    background-color: var(--high-contrast-header-select-color, var(--_code-background-color));
    border-radius: 6px;
    padding:
      calc(var(--_padding-block) - var(--_border-px))
      calc(var(--_padding-block) * 3 - var(--_border-px));
  }

  fieldset > legend > & {
    line-height: calc(var(--main-line-height) * (1 + 2 / 3));
  }
}

fieldset {
  --_border-size: 1px;
  --_high-contrast-border-color: oklch(var(--high-contrast-border-lightness) 0.15 var(--accent-hue));

  border:
    var(--_border-size) solid var(--_high-contrast-border-color, oklch(var(--blockquote-border-start-lightness) 0 0));
  border-radius: 12px;
  grid-column: breakout-small;
  width: calc(var(--content-width) - var(--_border-size) / 2);
  margin: 1rem auto;

  legend {
    background-color: oklch(var(--header-background-lightness) 0 0);
    padding-inline: 0.5rem;
    border: inherit;
    border-radius: 99px;
  }
}

.highlighter-rouge {
  overflow: auto;
}

div.highlighter-rouge {
  --_high-contrast-border-color: oklch(var(--high-contrast-border-lightness) 0.15 var(--accent-hue));

  --card-outline-color: var(--_high-contrast-border-color, oklch(var(--codeblock-outline-lightness) 0 0));
  @include shared.codeblock(0.5rem, oklch(var(--codeblock-background-lightness) 0 0));

  margin-block: 1rem;

  /*
   * Using vh as opposed to dvh to prevent readjusting height on mobile
   * devices with expandable/collapsible address bars.
  */
  max-height: 75vh;
}

img, video, picture {
  border-radius: 12px;
  max-width: 100%;
  max-height: 650px;
  height: auto;
  width: auto;

  &.drop-shadow {
    filter: var(--box-drop-shadow);
  }
}

figure {
  text-align: center;
  margin-inline: 6px;
  grid-column: breakout-large;
  margin-block: 1em;

  figcaption {
    padding: 3px;
    max-width: var(--content-width);
    margin-inline: auto;

    p {
      font-size: var(--font-size-smaller);
      margin-block-start: 0;
      text-wrap: balance;
    }

    &:empty {
      display: none;
    }
  }
}

table {
  display: block;
  overflow-x: auto;
  border-collapse: collapse;

  caption {
    text-align: start;
    opacity: var(--opacity, 0.75);
    margin-block: 1em;
    font-size: var(--font-size-larger);
  }

  td {
    padding: 0.2rem 0.4rem;
  }

  th, td {
    border: 1px solid oklch(var(--table-outline-lightness) 0 0);
  }

  tbody tr {
    background-color: oklch(var(--_row-lightness) 0 0);

    &:nth-child(odd) {
      --_row-lightness: var(--table-row-odd-lightness);
    }

    &:nth-child(even) {
      --_row-lightness: var(--table-row-even-lightness);
    }
  }
}

/* Embeds */
.youtube-embed {
  aspect-ratio: 16 / 9;

  iframe {
    width: 100%;
    height: 100%;
    border-radius: 12px;
  }
}


/*
 * UTILITY CLASSES
 */

.horizontal-flip {
  display: inline-block;
  transform: scaleX(-1);
}

.no-wrap {
  white-space: nowrap;
}

.big {
  font-size: var(--font-size-larger);
}


/*
 * MISCELLANEOUS
 */

/*
 * Syntax highlighting
 * Source: https://github.com/rouge-ruby/rouge/blob/master/lib/rouge/token.rb
 */
.highlight {
  .c, .c1, .cm { opacity: var(--opacity, 0.75) }
  .kn, .si, .se, .nt, .py { color: var(--orange) }
  .s, .nn, .nc, .s2 { color: var(--mint) }
  .k { color: var(--light-orange) }
  .nf, .nb { color: var(--blue) }
  .bp, .gp { color: var(--green) }
  .gp { user-select: none }
}

/* Decorative command-line */
.command-line {
  user-select: none;
  font-weight: bold;
  font-size: 1.0125em;

  .prompt {
    color: var(--green);
  }

  .cursor {
    animation: cursor 1s infinite;
  }
}

@keyframes cursor {
  0%, 100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

/* Profile picture */
.icon {
  margin-inline: auto;
  filter: var(--box-drop-shadow);
  border-radius: 50%;
  width: 256px;
  height: 256px;
}

.link-cards {
  --_card-link-width: calc(var(--max-width) / 3);
  --_high-contrast-border-color: oklch(var(--high-contrast-border-lightness) 0.15 var(--accent-hue));

  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(var(--_card-link-width), 1fr));
  margin-block: 1rem;
  gap: 1rem;

  & > section {
    box-shadow: var(--box-shadow-box);
    padding: 1.25rem;
    background-color: oklch(var(--header-background-lightness) 0 0);
    border-radius: 12px;
    display: grid;
    grid-auto-rows: min-content;
    outline: solid 1px var(--_high-contrast-border-color);
  }
}

.badges-list > *:not(:last-child)::after {
  content: " • ";
}

.download-link {
  height: revert-layer;
}

/* Presentation section */
.presentation {
  display: grid;
  grid-column: breakout-large;
  margin-block: 1rem;
  gap: 5em;
  overflow-x: clip;

  & > div > figure {
    opacity: 0;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-timeline: var(--animation, view());
    animation-range: entry 20dvh entry 45dvh;
    animation-name: popup;
    grid-column: unset;
  }

  .big, p {
    text-align: center;
    margin-inline: auto;
    text-wrap: balance;
  }

  .big {
    font-weight: bold;
    margin-block-start: 0;
  }

  p {
    max-width: min(var(--breakout-large-max-width) / 2.5, 85vw);
  }
}

@keyframes popup {
  0% {
    opacity: 0;
    scale: 0.95;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes slide-from-left {
  0% {
    transform: translateX(-12%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-from-right {
  0% {
    transform: translateX(12%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


/*
 * MEDIA QUERIES
 */

@media screen and (shared.$tablet) {
  :root {
    --body-margin: 6px;
    --element-border-radius: 12px;
    --html-background-lightness: var(--body-background-lightness);
  }
}

@media screen and (shared.$desktop) {
  body > header {
    display: grid;
    grid-template-columns: subgrid;

    nav {
      grid-column: breakout-small;
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-inline: 12px;

      .header-left {
        display: flex;
      }

      .header-main {
        margin-inline: auto 0;
        justify-content: end;
        align-items: center;
      }
    }
  }

  /*
   * Presentation section: Each row swaps between the image and content, e.g.
   *                        row 1: image, content
   *                        row 2: content, image
   *                        row 3: image, content
   *                        …
   */
  .presentation {
    gap: 0;

    & > div {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      align-items: center;

      & > figure {
        animation-range: entry 20dvh entry 65dvh;
      }

      /* Credit to https://stackoverflow.com/a/57383702 */
      &:nth-child(odd) {
        & > figure {
          margin: 0 1rem 0 auto;
          animation-name: slide-from-left;
        }
      }

      &:nth-child(even) > {
        figure {
          margin: 0 auto 0 1rem;
          animation-name: slide-from-right;
        }

        section {
          order: -1;
          text-align: end;
          margin-inline-start: auto;
        }
      }
    }

    .big, p {
      text-align: unset;
      margin-inline: unset;
    }
  }
}

@media print {
  body > header, body > footer, .toc {
    display: none;
  }
}